<nav>
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Electric Guitars", "Index", "ElectricGuitar")</li>
        </ul>
    </div>
</nav>