<div class="container">
    <div class="jumbotron text-center">
        <h2>Desafio em .NET do Grupo Minha Vida: ASP.NET e Web API</h2>
    </div>
    <div class="panel">
        <div class="panel-body">
            <p>Este é um projeto desenvolvido por Erick Munekata como parte de um desafio proposto pelo Grupo Minha Vida.</p>
            <p>Os recursos utlizados para concluir o desenvolvimento foram:</p>
            <ul>
                <li>ASP.NET MVC.</li>
                <li>ASP.NET Razor.</li>
                <li>Entity Framework.</li>
                <li>Bootstrap 3.</li>
                <li>Selenium - para o desenvolvimento dos cases de teste.</li>
                <li>Ninject MVC5 - plugin utilizado para gerenciar a parte de injeção de dependências.</li>
                <li>Um banco SQL local no formato de arquivo .mdf, incorporado na solução.</li>               
            </ul>

            <p>São dois projetos que compõem a solução:</p>
            <ul>
                <li>Desafio Minha Vida</li>
                <li>Desafio Test</li>
            </ul>

            <p>Desafio Minha Vida é o projeto que contém a solução para o desafio proposto. Todas as validações foram implementadas usando o model validator do ASP.Net MVC, sendo
            uma delas presente na <strong>classe ElectricGuitar</strong>, dentro contém as marcações que validam o tamanho do nome, range da variável preço, descrição, todos obrigatórios, menos
            o campo para url da imagem.</p>
            <p>Todos os formulários foram construídos usando razor como suporte, cada campo de formulário está relacionado com um ValidationMessageFor para fazer a validação junto com os
            marcadores na classe.</p>
            <p>O front-end foi desenhado usando Bootstrap 3.</p>
            <p>O plugin Ninject MVC5 foi usado para solucionar o problema de injeção de dependência em relação ao contexto usado pelo entity framework.</p>
            <p>A solução Desafio Test foi desenvolvido através de um projeto UnitTest com a implementação de scripts c# com o framework de testes de interfaces Selenium.</p>            

            <h3>Para acessar a view index da solução. Clique na aba <strong>Electric Guitars</strong></h3>
        </div>
    </div>
</div>